body {
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bandeau {

    background-color: white;
    
    height: 40px;
    
}

.fond {

    background-image:url("images/NetflixWeb/fond.png") ;
    display: block;
    background-size: cover; 
    background-position: center;     
    color: white;
    width: 100%;
    height: 300px; 
    flex:1;
    margin-bottom: 10px;
    
  }
  .Email{
    color: white;
    Flex : 1;
  }

.Bloc {
    color: white;
    flex: 1;
    margin-bottom: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.DivText{
    align-items: center;
    flex:1;
    justify-content: center; 
}
